html,
body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background: #03a9f4;
  color: white;
}
#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
.container {
  width: 80%;
  margin: 20px auto;
}
@media (min-width: 481px) {
  #tabs {
    width: 280px;
  }
  .container {
    width: 400px;
  }
}